/* app\portfolio\contact\contact.module.css */
.section {
    padding: 2em;
    text-align: center;
}

.p {
    margin: 0.5em 0;
    text-align: center;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    margin: 1em 0;
}

.a {
    text-decoration: none;
    color: #0070f3;
}