/* app\components\header.module.css */
.nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: #2e2e2e;
    /* Slightly lighter than black for the nav */
}

.navA {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
}

.navAhover:hover {
    color: #fff;
    background-color: #4d4d4d;
    /* Dark grey on hover */
}